@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: theme('colors.zinc.800');
  }
  .light * {
    border-color: theme('colors.zinc.200');
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.zinc.700');
    border-radius: 2px;
  }
  .light ::-webkit-scrollbar-thumb {
    background: theme('colors.zinc.300');
  }
}
